body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    background-color: black;
    color: rgba(255,245,238, 0.9);
    /* text-align: center; */
    box-sizing: border-box;
}

header p {
    text-decoration: underline;
    margin: 20px;
}

header {
    border-bottom: 1px solid seashell;
    height: 69px;
    /* display: inline-flex; */
    /* justify-content: flex-end; */
    width: 100%;
    position: fixed;
    z-index: 20;
    background-color: black;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
}
#pad {
    padding-right: 20px;;
}
.nav {
    
    display: inline-flex;
    justify-content: flex-end;
    width: 50%;
    position: fixed;
    z-index: 20;
}
.logo {
    display: inline-flex;
    justify-content: flex-start;
    width: 50%;
    height: 50px;
    z-index: 20;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-tea-cozy-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    
}
img {
    width: 300px;
    height: 200px;
}
h4 {
    margin: 10px 0 20px 0;

}

footer {
    height: 200px;
}

.backgroundimage {
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.missionoverlay {
    background-color: black;
    text-align: center;
    display: block;
    position: relative;
    top: 45%;
}
.container {
    width: 1000px;
    margin: 0 auto;   
}

.teamonth {
    text-align: center;
}

.images {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#berrytea,
#rumtea, 
#donut,
#avetea,
#bizarretea {
      margin: 4px 10px;
      text-align: center;
}

.locations {
    height: 500px;
    width: 1200px;;
    margin: 0 auto;
    bottom: 20px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

#h2 {
    position: absolute;
   left: 46%;
}


#downtown, 
#eastbayside,
#oakdale {
    width: 300px;
    height: 300px;
    background-color: black;
    margin: 0 20px;
    text-align: center;
    
    
}

.contents {
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}

.down {
    text-align: center;
}
#left {
    text-align: left;
    margin-left: 20px;
}