

body
{
    font-size: 100%;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
}

hr
{
    margin: 1% 10% 0px 10%;

}

nav
{
    margin-top: 1%;
    text-align: center;
}

p
{
    font-size: 1.4em;
    
}
.top
{
    padding: 0px;
    color: hsl(45.06, 95.95%, 40%);
    font-size: 4em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
main
{
    text-align: center;
    border-radius: 15px;

    
    
}

.img 
{
    background-image: url("home.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    width: auto;
    height: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 2%
}

@media only screen and (max-width: 1050px)
{
    .img{
        background-size: cover;
        /* background-attachment: scroll; */
    }
}

.left
{
    text-align: center;
    display: block;
    width: auto;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 15px;
    margin-left: 30%;
    margin-right: 30%;
}
.center
{
    text-align: center;
    display: block;
    width: auto;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 0px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 15px;
    
}
.center p
{
    color: white;
    text-shadow: black 1px 2px 3px;
}
.left p
{
    color: white;
    text-shadow: black 1px 2px 3px;
}

.right p
{
    color: white;
    text-shadow: black 1px 2px 3px;
}
.right
{
    text-align: center;
    display:block;
    width: auto;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 15px;
}


button
{
    padding: 2%;
    border-radius: 0.5em;
    border-style: none;
    /* background-color: rgb(53, 136, 32); */
    background-color: white;
    /* color: white; */
    display: inline-block;
    width: auto;
    font-size: 1.1em;
}
button:hover{
    background-color: hsl(45.06, 95.95%, 48.43%);
    margin: 0;
}

button.active
{
    background-color: hsl(45.06, 95.95%, 48.43%);
}

.orange-white
{
    color: hsl(45.06, 95.95%, 40%);
    border-radius: 15px;
    font-size: 2em;
    text-shadow: rgb(0, 0, 0) -2px 3px 5px;
    box-shadow: black 2px 2px 15px;
    padding: 1%;
}

.shadow
{
    box-shadow: 4px 4px 15px;
    padding: 1em;
}
.answer
{
    padding: 1em;
    margin: 0;
    text-shadow: dodgerblue 1px 2px 5px;
    
}

footer
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8em;
    margin-bottom: 1%;
 
    
}

pre
{
    font-size: 8em;
    padding-left:0px,
}

.subheading
{
    padding: 0px;
    color: hsl(45.06, 95.95%, 40%);
    font-size: 2.6em;
    margin: 0 0 0 10%;
    text-align: left;
}

.plus
{
    color: black;
}
.plus:hover
{
    color: grey;
}
a.plus
{
    text-decoration: none;
}

#phone
{
    text-decoration: none;
    color: black;
}
#phone:hover
{
    color:grey;
}

.extender
{
    text-align: left;
    margin-left: 15%;
    padding: 1em;

}
.extender1
{
    display: none;
}
.extender2
{
    display: none;
}
.extender3
{
    display: none;
}
.extender4
{
    display: none;
}
.extender5
{
    display: none;
}

.extender-link
{
    text-decoration: none;
    color: hsl(45.06, 95.95%, 40%);
    font-size: 1.5em;
    line-height: 1.6em;
}
.extender-link:visited
{
    color: hsl(45.06, 95.95%, 40%);
}
.extender-link:hover
{
    color:burlywood;
}
.german
{
    color: black;
    text-decoration: none;
}
.german:hover
{
    color:grey;
}

#center
{
    display: none;
}


.project-link
{
    color: hsl(45.06, 95.95%, 40%);
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.6em;;
}

pre
{
    font-size: 1em;
}

h2
{
    line-height: 1.4em;
}

.contact
{
    font-size: 2rem;
}

@media only screen and (max-width: 1000px) {
    .center , .left, .right{
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 500px)
{
    a.contact{
        font-size: 1rem;
    }
    span.contact
    {
        font-size: 1rem;
    }
}

#one
{
    display: none;
}

.done
{
    padding: 0;
    color: black;
    margin: 0px;
    border-radius: 4px;
    display: inline;
}
.done.false
{
    background-color: hsla(0, 47%, 51%, 0.883);
    color: white;
    padding: 1%;
    font-size: small;
}

.done.right
{
    background-color: rgba(51, 134, 58, 0.931);
    color: white;
    padding: 1%;
    font-size: small;
}

.done.right:hover
{
    background-color:rgba(51, 134, 58, 0.842);
}
.done.false:hover
{
    background-color: hsla(0, 47%, 51%, 0.719);
}

@media only screen and (max-width: 500px)
{
    p.subheading
    {
        font-size: medium;
    }
}