header {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
h4 {
    font-family: Helvetica;
    font-size: 24px;
}

p {
    font-family: Helvetica;  
}
#lightgreenbackground {
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size:  32px;
    font-weight: bold;
    color: white;
}
#lightredbackground {
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#lightbluebackground {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

#brushprice,
#frameprice,
#tubeprice {
    color: blue;
    font-weight: bold;
    font-family: Helvetica;
}